@import "./variables.scss";
.banner {
  widows: 100%;
  #banner {
    border-bottom: 1px solid $silver3-color;
    position: relative;
  }
  .owl-dots {
    position: absolute;
    bottom: 25px;
    z-index: 1;
    right: 10px;
    height: 10px;
    margin: 0;
    padding: 0;
    text-align: right;
    .owl-dot {
      width: 15px;
      height: 15px;
      background: $ocean-color;
      margin: 0 5px;
      border-radius: 50%;
      outline: none;
      transition: linear 0.3s;
      cursor: pointer;
      border: 2px solid transparent;
    }
    .owl-dot:hover {
      background: $white-color;
    }
    .owl-dot.active {
      border: 2px solid $ocean-color;
      height: 15px;
      width: 15px;
      background: $white-color;
    }
  }
  .banner__item img {
    height: 100%;
  }
}
