@import "variables";
.topbar__brand {
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 0.55px;
  color: $silver2-color;

  strong {
    font-size: 26px;
    text-transform: uppercase;
    display: block;
    height: 35px;
    letter-spacing: 2px;
    color: $silver1-color;
  }

  strong::first-letter {
    font-size: 32px !important;
  }
}
