@import "variables";
.topbar__socialMenu {
  margin-top: 25px;
  .topbar__socialMenuBloco {
    list-style: none;
    padding: 0;
  }
  .topbar__socialMenuItem {
    display: inline-block;
    width: 32px;
    height: 32px;
    margin-right: 10px;
    &:last-child {
      margin-right: 0;
    }
    a {
      color: $white-color;
      background: $dark1-color;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      transition: linear 0.3s;
      text-decoration: none;
    }
    a:hover {
      background: $orange-color;
    }
  }
}

@media(max-width:960px){
  .topbar__socialMenu{
    display: none;
  }
}