$webfont-rootPath: '../webfonts';
$webfont-ptSerifPath: '../webfonts/PT_Serif';

$ocean-color:#3bafbe;
$orange-color:#ee802f;
$dark1-color:#1f1f1f;
$dark2-color:#333333;
$dark3-color:#2c2c2c;
$silver1-color:#4a4a4a;
$silver2-color:#999999;
$silver3-color:#e2e2e2;
$white-color:#FFF;
$black-color:#000;